@{
    ViewData["Title"] = "Privacy Policy";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" rel="stylesheet">
</head>
<body>
    <h1>Privacy Policy</h1>

    <div class="animate__animated animate__slideInUp">
        <p>
            Welcome to our Privacy Policy. 
            This policy explains how we collect, use, disclose,
            and safeguard your information when you visit our website TaskManager.com .
        </p>
    </div>
    <div style="margin-bottom: 70px;"></div>

    <div class="animate__animated animate__slideInUp">
        <h1>User Rights: </h1>
        <p>
            You have the right to access, correct, or delete your
            personal information.
        </p>
    </div>
    <div style="margin-bottom: 70px;"></div>

    <div class="animate__animated animate__slideInUp">
        <h1>Cookies Policy:</h1>
        <p>
            TaskManager.com uses certain monitoring and tracking technologies, such as cookies,
            beacons, pixels, tags, and scripts (collectively, “Cookies”). These technologies are
            used in order to provide, maintain, and improve our website and platform or any other
            website or webpage operated by us (“Services”), to optimize our offerings and marketing
            activities, and to provide our visitors, customers and users (“you”) with a better
            experience (for example, in order to track users’ preferences, to better secure
            our Services, to identify technical issues, and to monitor and improve the overall
            performance of our Services).
        </p>
    </div>
    <div style="margin-bottom: 70px;"></div>

    <div class="animate__animated animate__slideInUp">
        <h1>Contact Information:</h1>
        <p>
            If there are any questions regarding this privacy policy, you may contact us using the information below:<br />
            Email: taskmanager@gmail.com<br>
            Phone: +359 87 888 7887<br>
        </p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>